<% if session[:user_id] %>
  <a href="/logout">Logout</a>
<% end %>

<h1>Your Profile Page</h1>

<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="put"/>
  <label for="name">Name: </label>
  <input type="text" name="user[name]" value="<%= @user.name %>">
  <br>

  <label for="email">Email: </label>
  <input type="text" name="user[email]" value= "<%= @user.email %>">
  <br>

  <label for="password">Password: </label>
  <input type="password" name="user[password]" value= "<%= @user.hashed_password %>">
  <br>

  <input type="submit" value="Edit Information">
  <br>
</form>

<% if @games %>
  <% @games.each do |game| %>
    <%= deck_name(game.deck_id) %>
    <table>
      <tr>
        <th>Date</th>
        <th>Cards in Deck</th>
        <th>First Guess Correct</th>
        <th>Total Guesses</th>
      </tr>
      <tr>
        <td>
          <%= game.created_at.to_date %>
        </td>
        <td>
          <%= count_cards_in_deck(game.deck_id) %>
        </td>
        <td>
          <%= count_all_first_guesses(game.deck_id) %>
        </td>
        <td>
          <%= count_all_guesses(game.deck_id) %>
        </td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p>Go Play a Game</p>
<% end %>
<a href="/">Go Home</a>


